<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gomoku Game</title>
</head>

<body>
    <h1>Welcome to Gomoku</h1>
    <button id="loginBtn">Login</button>
    <button id="guestBtn">Join as Guest</button>

    <div id="guest-info"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8002'); 

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('guestBtn').addEventListener('click', joinAsGuest);
        });

        function joinAsGuest() {
            console.log("Guest button clicked!"); 
            fetch('/go/guest', { method: 'POST' }) 
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const guestId = data.guestId; 
                    // displayGuestInfo(guestId);
                    window.location.href = `/go/play?guestId=${guestId}`
                    // window.location.href = '/go/play';
                })
                .catch(error => console.error('Error:', error));
        }

//         function displayGuestInfo(guestId) {
//     const cachedGuestData = localStorage.getItem(`guest-${guestId}`);
//     if (cachedGuestData) {
//         const guestData = JSON.parse(cachedGuestData);
//         updateGuestInfoUI(guestData);
//     } else {
//         fetch(`/go/guest/${guestId}`)
//             .then(response => response.json())
//             .then(data => {
//                 localStorage.setItem(`guest-${guestId}`, JSON.stringify(data.guest));  // Cache the data
//                 updateGuestInfoUI(data.guest);
//             })
//             .catch(error => console.error('Error fetching guest data:', error));
//     }
// }

// function updateGuestInfoUI(guest) {
//     const guestInfoElement = document.getElementById('guest-info');
//     guestInfoElement.innerHTML = `Guest ID: ${guest.guestId}, Status: ${guest.status}`;
// }

    </script>
</body>

</html>
